.button-container {
  float: left;
  display: inline-block;
  height: 20px;
  margin-left: 20px;
  color: white;
  font-family: 'Lato';
}

.navbar {
  margin-left: 950px;
}

#name {
  font-size: 60px;
  position: absolute;
  color: white;
  margin-left: 20px;
  margin-top: 550px;
  font-family: 'Lato';

}

#background {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}
