.button-container {
  float: left;
  margin-right: 20px;
  display: inline-block;
  height: 20px;
  width: 80px;
  color: white;
}
.navbar {
  margin-left: 950px;
}
#name {
  font-size: 50px;
  position: absolute;
  color: white;
  margin-left: 20px;
  margin-top: 550px;

}

#background {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}
