.button-container {
  float: left;
  display: inline-block;
  height: 30px;
  margin-left: 20px;
  font-family: 'Lato';
  font-size: 24px;
  color: white;
  background-color: black;
}

.button-container2 {
  float: left;
  display: inline-block;
  height: 30px;
  margin-left: 20px;
  font-family: 'Lato';
  font-size: 24px;
  color: white;
  background-color: black;
}


.navbar {
  margin-left: 745px;
  margin-top: 200px;
  position: absolute;
}

#name {
  font-size: 42px;
  position: absolute;
  color: white;
  font-family: 'Lato';
  margin-left: 700px;
  margin-top: 100px;
  font-weight: bold;
}

#desc {
  margin-left: 780px;
  margin-top: 160px;
  position: absolute;
  color: white;
  font-family: 'Lato';
}

#background {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}
